.form-container {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.form-fields {
  width: 100%;
  margin: 20px;
}

input {
  width: 100%;
  border: none;
  height: 35px;
  border-radius: 2px;
}

button.button {
  border: none;
  height: 45px;
  border-radius: 5px;
  width: 40%;
}
